head
    script(src="angular.min.js")
    script(src="compile.js")
    link(rel="stylesheet",type="text/css",href="bootstrap.min.css")
    link(rel="stylesheet",type="text/css",href="main.css")
body(ng-app="compiler"): div(ng-controller="CompilerCtrl")
    div(style="padding:100px")
        textarea(rows="10",style="width:450px",ng-model="text")
        div {{ response }}
        div(style="color:red") {{ error }}
        button.btn(ng-click="submit()") Submit
