[run]
source = pyethereum

To exclude parts of your source from coverage, for example migrations folders:

[report]
omit =
  */fixtures/*
  */tests/*
  */utils/*
  */ethereum/fastvm.py
  */ethereum/spv.py

[report]
exclude_lines =
  pragma: no cover
  def __repr__
  raise AssertionError
  raise NotImplementedError
  if __name__ == .__main__.:
