*.py[co]
__pycache__/
*~
[#]*[#]
.*.swp
.*.swo
.*.swn
.~
.DS_Store
/tmp/
/.venv/
/dist/
/*.egg-info/
/.tox/
/build/
/bin/
/develop-eggs/
/eggs/
.installed.cfg
logging.conf
*.log
.coverage
/statedb/
peers.json
pyethereum/todo.txt
pyethereum/monkeypatch.py
.eggs
.cache
.env
/build
