.blue { background-color: #88f; }
.semilightblue { background-color: #aaf; }
.lightblue { background-color: #ddf; }
.white { background-color: #fff; }
.grey { background-color: #ddd; }
.pill {
    border-radius: 5px;
    text-align: center;
}
.bigpill {
    border-radius: 5px;
    text-align: center;
    width: 500px;
    max-width: 500px;
}
.monospace {
    font-family: monospace;
    word-wrap: break-word;
    max-width: 100%;
    line-height: 1.1em;
    font-size: small;
}
.squish {
    line-height: 1.2em;
    font-size: small;
}
.abovelabel {
    margin-bottom: 3px;
}
.largetext {
    font-size: 18px;
}
.verylargetext {
    font-size: 72px;
    height: 100px;
}
.signature {
    font-family: monospace;
    word-wrap: break-word;
    max-width: 100%;
    line-height: 1.1em;
    height: 60px !important;
    font-size: small;
}
.cmdline {
    text-align: left;
}
.cmdline::before {
    content: "> ";
    color: #888;
}
.tabselect {
    padding: 10px;
}
.tabwindow {
    position: relative;
}
.tabwindow .tabheader {
    position: absolute;
    top: 0px;
    height: 40px;
}
.tabheader .tabselect {
    display: inline-block;
}
.tabwindow .tabbody {
    position: absolute;
    top: 50px;
    left: 0px;
    bottom: 0px;
    width: 100%;
}
.raise4 {
    position: relative;
    top: -4px;
}

input[type='text'], input[type='password'] {
    height: 25px !important;
    word-wrap: break-word;
    margin-right: 5%;
}
.fullwidth { width: 100%; }
.fullheight { height: 100%; }
table.tb {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    table-layout: fixed;
}
table.tb tr td {
    word-wrap: break-word;
}
td {
    position: relative;
}
.tab {
    position: absolute;
    height: 100%
}
.tab table.tb {
    padding: 20px;
}
td.td-label {
    width: 80px;
}
td.td-wide-label {
    width: 130px;
}
.txcheckbox {
    width: 15px;
    height: 15px;
}
.help {
    font-weight: strong;
    font-size: 105%;
    position: absolute;
    left: -15px;
    top: 4px;
    color: #44f;
    cursor: pointer;
    cursor: hand;
}
.modal-body {
    overflow-x: hidden;
}
