<html>
    <head>
        <!-- Oh hell no, I can access anything on my computer via this -->
        <script src="./jquery-1.11.1.min.js"></script>

        <script language="javascript" type="text/javascript">

            function transact() {
                var cb = function(res) {
                    alert(res);
                    res = JSON.parse(res);
                    };
                eth.on_transact_cb.connect(cb);
                eth.transact(JSON.stringify({ "txto": $("#txto").val(), "txvalue": $("#txvalue").val()}));
            }

            function getbalance(){
                var cb = function(res) {
                    var res = JSON.parse(res);
                    $('#balance').val(""+res['balance']);
                    $('#account').val(res['address']);
                    };
                eth.on_getbalance_cb.connect(cb);
                eth.getbalance("hu");
            }

            function ApplicationIsReady(){
                console.log("ApplicationIsReady!");
                getbalance('');
            }



        </script>
    </head>
    <body>
        <h1>pyethereum HTML GUI PoC</h1>

        <h2>Balance</h2>
        Address: <input id='account'/></br>
        Balance: <input id='balance'/></br>
        [<a onclick=getbalance()>update</a>]</br>

        <h2>Send</h2>

        Value: <input type='text' id='txvalue' value="1"/></br>
        To: <input type='text' id='txto'/></br>
        <button onclick=transact()>Transfer</button>

        <p>Tip: Right Click and select, inspector and navigate to the console</p>
    </body>
    <script>
        //alert(typeof jQuery);
    </script>
</html>